@charset "UTF-8";

:root {
     --fonteprincipal: 'Arial';
     --cor01: #3aff09;
     --cor02: #2fd705;
     --cor03: #29a909;
     --cor04: #1b6a07;
     --cor05: #0e3903;
     --cor-fundo: #d4fbd4;
     --cor-botao: #4CAF50;
     --cor-botao-hover: #45a049;
     --cor-texto: #0a4504;
     --cor-texto-botao: #f7ffe6;
 }
 
 body {
     font-family: var(--fonteprincipal);
     background-color: var(--cor-fundo);
     color: var(--cor-texto);
     text-align: justify;
    
 }
 header {
     height: 150px;
     background-image: linear-gradient(to bottom, var(--cor03), var(--cor02), var(--cor01));
     padding: 10px;
     margin: auto;
 }   

 main {

 }

 footer {
     
     
 }