@charset "UTF-8";

:root {
     --fonteprincipal: 'Arial', 'sans-serif';
     --cor01: #3aff09;
     --cor02: #2fd705;
     --cor03: #29a909;
     --cor04: #1b6a07;
     --cor05: #0e3903;
     --cor-fundo: #cdffcd;
     --cor-botao: #2e6123;
     --cor-botao-hover: #9bffa0;
     --cor-texto: #0a4504;
     --cor-texto-botao: #f7ffe6;
     --cor-rodape: #485545;
 }

 * {
   font-family: var(--fonteprincipal);
 }
 
 body {
     background-color: var(--cor-fundo);
     color: var(--cor-texto);
     text-align: justify;
     margin: auto;
 }
 header {
     height: 75px;
     background-image: linear-gradient(to top, var(--cor02), var(--cor04));
     padding-top: 10px;
     margin: auto;
     text-align: center;
     
 }

 header h1 {
     font-size: 32px;
     color: #77fb7c;
     text-shadow: 2px 2px 4px #000000;
 }
 
 nav {
    font-weight: bold;
    display: inline-block;
    background-color: var(--cor-botao);
    color: var(--cor-texto-botao);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    text-transform: capitalize;
 }
 
 nav > button {
    font-weight: bold;
    font-size: 12px;    background-color: var(--cor-botao);
    color: var(--cor02);
    border-radius: 12px;
    padding: 10px 20px;
    text-align: left;
    text-decoration: none;
    font-size: 12px;
    display: inline-block;
    margin: 6px 4px solid var(--cor-fundo);
    transition-duration: 0.5s;
    cursor: pointer;
    
 }
 
 nav > button:hover {
    background-color: var(--cor-botao-hover);
    color: var(--cor05);
 }  

 button a {
    height: 10px;
    text-decoration: none;
    color: inherit;
    align-items: normal;
    display: inline-block;
 }

 main {
   max-width: 500px;
   background-color: white;
   color: forestgreen;
   margin: auto;
 }

 footer {
     background-color: var(--cor-rodape);
     padding: auto;
     margin: auto;
     color: lightgreen;
     
 }

 footer p {
     text-align: center;
     font-size: 14px;
     margin: 12px;
 }