<!DOCTYPE html>
<html lang="pt-br">

<head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" href="../static/css/style.css">
     <link rel="shortcut icon" href="../static/icones/favicon.ico" type="image/x-icon">
     <title>Crédito de Carbono</title>
</head>

<body>
     <header>
          <h1>Crédito de Carbono</h1>
     </header>

     <nav>
          <button type="Home"><a href="../templates/
          homepage.html">Home</a></button>
          <button type="Relatorio"><a href="../templates/relatorio.html">Relatorio</a></button>
          <button type="Exemplos"><a href="../templates/exemplos.html">Exemplos</a></button>
     </nav>

     <main>
          <h2>Introdução ao Crédito de Carbono</h2>
     </main>
     <footer>
          <p>© 2025 Crédito de Carbono. Todos os direitos reservados.</p>
          <p></p>
     </footer>


</body>

</html>