<html>

<head>
    <meta charset="utf-8">
    <title>Relatório de Emissões</title>
    <style>
        body {
            font-family: Arial;
            margin: 20px;
        }

        .bar {
            height: 25px;
            background-color: #2e8b57;
            text-align: right;
            color: white;
            padding-right: 5px;
            margin-bottom: 5px;
        }

        .label {
            margin-bottom: 3px;
        }

        .container {
            width: 600px;
        }
    </style>
</head>

<body>
    <h2>Resumo das Emissões</h2>
    <p><strong>Total (Mensal):</strong> 59953.79 kgCO2e</p>
    <p><strong>Projeto:</strong> Energia Renovável</p>
    <p><strong>Créditos:</strong> 59.954 tCO2e</p>
    <p><strong>Custo:</strong> R$ 4,196.77</p>
    <h3>Detalhe das Emissões</h3>
    <div class="container">

        <div class="label">electricity_kwh: 76.89 kgCO2e</div>
        <div class="bar" style="width:0.12944444444444445%;"></div>

        <div class="label">gasoline_liter: 46.20 kgCO2e</div>
        <div class="bar" style="width:0.07777777777777778%;"></div>

        <div class="label">diesel_liter: 107.20 kgCO2e</div>
        <div class="bar" style="width:0.18047138047138048%;"></div>

        <div class="label">vehicle_km: 10.50 kgCO2e</div>
        <div class="bar" style="width:0.017676767676767676%;"></div>

        <div class="label">flight_hour: 59400.00 kgCO2e</div>
        <div class="bar" style="width:100.0%;"></div>

        <div class="label">food: 270.00 kgCO2e</div>
        <div class="bar" style="width:0.45454545454545453%;"></div>

        <div class="label">waste: 43.00 kgCO2e</div>
        <div class="bar" style="width:0.0723905723905724%;"></div>
    </div>
    <button style="background-color: #23ff82; color: #5c9804;"><a href="../templates/homepage.html">Voltar a Pagina
            Inicial</a></button>
</body>

</html>